# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# Virtual Environment
venv/
ENV/
env/

# File locali del tuo progetto
calendar_url.txt
*.pdf
*.log
*.ics

# OS
.DS_Store
Thumbs.db